.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-size: 18px;
    background-color: rgb(202, 202, 202);
}
button{
    margin-right: 10px;
    background-color: blue;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}